body {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
}
body .header {
  background-image: url("./img/img1.jpg");
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}
body .header .notice {
  display: flex;
  align-items: flex-end;
  position: absolute;
  margin-top: 50px;
  margin-left: 50px;
  font-size: 24px;
  font-weight: 700;
}
body .header .event {
  position: absolute;
  bottom: 50px;
  right: 50px;
  font-size: 6vw;
  font-weight: 700;
}
body .content {
  margin-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
}
body .content .sub_title {
  font-size: 24px;
  font-weight: 700;
}
body .content .main_title {
  margin-top: 10px;
  font-size: 70px;
  font-weight: 700;
}
body .content .section {
  font-size: 22px;
  font-weight: 300;
  margin-top: 20px;
}
body .content2 {
  margin-top: 80px;
  display: flex;
  position: relative;
  gap: 40px;
}
body .content2 img {
  width: 70vw;
  left: 0px;
}
body .content2 .sub_title1 {
  font-size: 48px;
  font-weight: 700;
}
body .content2 .section1 {
  font-size: 22px;
  font-weight: 300;
  margin-top: 20px;
}
body .content3 {
  display: flex;
  position: relative;
  gap: 40px;
  margin-top: 200px;
}
body .content3 img {
  width: 60vw;
  margin-top: 50px;
}
body .content3 .wrap2 {
  margin-top: 50px;
  gap: 50px;
  right: 5px;
}
body .content3 .sub_title2 {
  font-size: 48px;
  font-weight: 700;
}
body .content3 .section2 {
  font-size: 22px;
  font-weight: 300;
  margin-top: 20px;
}
body .content3 .photo img {
  bottom: -300px;
  position: absolute;
  right: 400px;
  width: 600px;
}
body .event_banner {
  margin-top: 450px;
}
body .event_banner .banner {
  font-size: 48px;
  font-weight: 700;
}
body .event_main {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  gap: 30px;
}
body .event_main img {
  width: 500px;
}
body .event_main .event_notice {
  font-size: 22px;
  font-weight: 300;
}
body .event_section {
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
body .event_section .event_item {
  flex: 1;
}
body .event_section .event_item img {
  width: 100%;
}
body .event_section .event_gift {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 300;
}
body .brand {
  font-size: 40px;
  font-weight: 700;
  margin-top: 150px;
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 58px;
}
body .brand_section {
  margin-top: 150px;
}
body .brand_section img {
  width: 100%;
}
body .brand_section .section_item {
  text-align: end;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 500;
}
body .item_page {
  margin-top: 50px;
}
body .item_page .group {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}
body .item_page .group .grouppage1 img {
  width: 700px;
  height: 1070px;
}
body .item_page .group .grouppage1 .page1 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
}
body .item_page .group .grouppage2 {
  margin-top: 250px;
  width: 40%;
}
body .item_page .group .grouppage2 img {
  width: 100%;
}
body .item_page .group .grouppage2 .page2 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
}
body .item_page2 {
  margin-top: 100px;
}
body .item_page2 .group2 {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}
body .item_page2 .group2 .grouppage3 img {
  width: 700px;
  height: 900px;
}
body .item_page2 .group2 .grouppage3 .page3 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
}
body .item_page2 .grouppage4 {
  margin-top: -100px;
  width: 40%;
}
body .item_page2 .grouppage4 img {
  width: 100%;
}
body .item_page2 .grouppage4 .page4 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
}
body .shopbutton {
  display: flex;
  justify-content: flex-end;
  margin-top: -150px;
}
body .shopbutton .button {
  background-color: #eeeeee;
  border: none;
  color: #1e1e1e;
  padding: 60px;
  text-align: center;
  text-decoration: none;
  font-size: 48px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 50%;
}
body .bestitems {
  font-size: 20px;
  font-weight: 700;
  margin-top: 50px;
  text-transform: uppercase;
}
body .bestitems_category {
  margin-top: 20px;
}
body .bestitems_category .category {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
body .bestitems_category .category img {
  width: 100%;
}
body .bestitems_category .category .category1 .item1 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
}
body .bestitems_category .category .category2 .item2 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
}
body .bestitems_category .category .category3 .item3 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
}
body .bestitems_category .category .category4 .item4 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
}
body .footer {
  margin-top: 200px;
  border-top: 1px;
  border-top-style: solid;
}
body .footer .footer_section {
  margin-top: 20px;
  padding: 50px;
  font-size: 18px;
  font-weight: 300;
}
body .footer_under {
  margin-top: 100px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 24px;
  font-weight: 700;
}/*# sourceMappingURL=lunching.css.map */